127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# for OCP4
{{ ansible_host }}   api
{{ internal_network.ip }}     api-int
{% for host in ocp_hosts %}
{{ host.ip }}    {{ host.name }}
{% endfor %}
{% for host in ocp_hosts if host.role == "master" %}
{{ host.ip }}    etcd-{{ loop.index0 }}
{% endfor %}